@model IEnumerable<GADS2013M10.PNetWeb2.AV1.Domain.Entidades.Episodio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEpisodio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumEpisodio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEpisodio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumEpisodio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EpisodioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EpisodioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EpisodioId })
        </td>
    </tr>
}

</table>
