<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controle de Séries - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Controle de Séries</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="menuHome">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="menuSerie">@Html.ActionLink("Séries", "Index", "Serie")</li>
                    <li id="menuTemporada">@Html.ActionLink("Temporadas", "Index", "Temporada")</li>
                    <li id="menuEpisodio">@Html.ActionLink("Episódios", "Index", "Episodio")</li>
                    <li id="menuGenero">@Html.ActionLink("Gêneros", "Index", "Genero")</li>
                    <li id="menuCanalTv">@Html.ActionLink("Canal de TV", "Index", "CanalTv")</li>
                    <li id="menuPais">@Html.ActionLink("País", "Index", "Pais")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false);
</body>
</html>